footer{

position: relative;
width: 100%;
padding: 40px 10vw;
padding-bottom: 150px;
background: #383838;
}

.conteudo-footer{
display: flex;
width: 100%;
justify-content: space-between;
}

.conteudo-footer .logo{
    height: 160px;

}
.caixa-ul-footer{
    margin-left: 20%;
width: 45%;
display: flex;
justify-content: space-between;

}
.categoria{
    width: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    list-style: none
    }
    .titulo-categoria{
        grid-column: span 2;
        text-transform: capitalize;
        color: #fff;
    }
    .categoria .link-footer{
        text-decoration: none;
        text-transform: capitalize;
        color: rgba(255, 255, 255, 0.75);

    }

